
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    color:#fff;
    line-height: 1.5;
    letter-spacing: 1px;
}
.wrapper{
    min-height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(106, 103, 103, 0.75),rgba(144, 131, 131, 0.75)), url('images/bgggg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial{
    padding: 10px 100px;

}
article h1{
font-family: 50px;
font-weight: 800;
text-transform: uppercase;
}
article h1::after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}
article img{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 30px;

}
 
 
article p{
    font-size: 17px;

}
.red{
    margin-bottom: 250px;
}